<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
     <a href="/">Domov</a> |
     <a href="/about">O meni</a> |
     <a href="/itm">ITM</a> |
     <a href="/kontakt">Kontakt</a> |
     <a href="/komentar">Komentiraj</a> |
     <a href="/vsikomentarji">Vsi komentarji</a> |

    <br>
    <br>

    {% block page_content %}{% endblock page_content %}




</body>
</html>