{% extends "base.html" %}

{% block title %}ITM{% endblock title %}

{% block page_content %}
    <h1>Kalkulator indexa telesne mase</h1>


    <form method="post">
        Visina:<input name="visina" placeholder="v cm..."> <br>
        Teza:<input name="teza" placeholder="v kg..."> <br>
        Spol:
        <select name="spol">
            <option value="moski">moski</option>
            <option value="zenska">zenska</option>
        </select> <br>

        <button type="submit">Izracunaj</button>
    </form>
{% endblock page_content %}